.contactFavoriteContainer {
    margin: 40px;
    display: flex;
    align-items: center;
  }
  
  .contactFavoriteTitle {
    font-size: 1.8rem;
    margin-right: 20px; 
  
  }
  
  .contactFavoriteLine {
    height: 0.125rem; 
    flex-grow: 1;
    border: 0;
    border-radius: 0.125rem; 
    background-color: #c1d72d; 
  }
  
  .contactFavorite {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40px;
  }
  
  .contactFavoritePagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  